<!DOCTYPE html>
<html  ng-app="app" id="ng-app" class="ng-app:app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>app</title>
    <!--[if IE 8]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .ng-hide {
            display: none !important;
        }
    </style>
    <![endif]-->
</head>

<body>
    <div ui-view></div>
</body>
</html>
